@import (reference) url(base);
@url:"../images/";

.container{
  .px2rem(width, 710);
  margin: auto;
}


.book{
  .all;
  .container;
  .book-floor{
    .px2rem(padding-bottom, 20);
    .book-name{
      .px2rem(font-size, 30);
      .px2rem(margin-top, 18);
      .px2rem(margin-bottom, 20);
    }
    .book-list{
      .all;
      .flexbox;
      overflow-x: scroll;
      &::-webkit-scrollbar {
        width: 0px;
      }
      .book-cell{
        .all;
        .flex1auto;
        flex-shrink: 0;
        .px2rem(width, 180);
        &:not(:nth-last-of-type(1)){
          .px2rem(margin-right, 16);
        }
        .book-img{
          .all;
          padding: 72% 0%;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          img{
            .all;
            //.colcenter;
            .poa;
            left: 0px;
            top: 0px;
            display: block;
          }
        }
        .book-title{
          .ellipsis;
          .px2rem(font-size, 28);
          .px2rem(margin-top, 15);
          .px2rem(margin-bottom, 12);
          text-align: center;
        }
      }
    }
  }
}