@import (reference) url(base);
@url:"../images/";




.container{
  .px2rem(width, 710);
  margin: auto;
}

.team-box{
  .px2rem(width, 710);
  margin: auto;
  .team-list{
    .all;
    .team-title{}
    .team-item{
      .team-cell{
        .team-cell-info{
          .team-cell-img{}
          .team-cell-name{}
        }
        .team-cell-txt{}
      }
    }
  }
}